#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FDECD2;
    color: black;
    text-align: center;

    display: flex;

}
#home {
    font-family: Strait;
    font-size: 28px;
    font-weight: 400;
    line-height: 39.42px;
    text-align: left;
    width: 198px;
    height: 53px;
    top: 52px;
    left: 334px;
    gap: 0px;
    opacity: 0px;
    
}

#home a {
    text-decoration: none;
    color: black;
}
#Opleiding {
    font-family: Strait;
    font-size: 28px;
    font-weight: 400;
    line-height: 39.42px;
    text-align: left;
    width: 224px;
    height: 53px;
    top: 130px;
    left: 334px;
    gap: 0px;
    opacity: 0px;
    color: black;
}
#Opleiding a {
    text-decoration: none;
    color: black;
}
#School {
    font-family: Strait;
    font-size: 28px;
    font-weight: 400;
    line-height: 39.42px;
    text-align: left;
    width: 198px;
    height: 53px;
    top: 208px;
    left: 334px;
    gap: 0px;
    opacity: 0px;
    color: black;
}
#School a {
    text-decoration: none;
    color: black;
}
#adres {
    width: 515px;
    height: 54px;
    top: 52px;
    left: 670px;
    gap: 0px;
    opacity: 0px;
    font-family: Strait;
    font-size: 28px;
    font-weight: 400;
    line-height: 39.42px;
    text-align: left;
}
